.container h1 {
  color: var(--marianBlue);
}

.hero {
  border-radius: 10px;
  height: 282px;
  max-width: 1200px;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
    transform: scaleX(-1);
  }
}
